{{#partial "content"}}

    <h1>Location list!</h1>

    {{#if travels}}
        {{#each travels }}
            <p>Travel Location:</p>
            <p>{{ title }}</p>
            <p>Location description:</p>
            <p>{{ description }} <a href="/travel/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No locations to list!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}