{{#partial "content"}}

    <h1>Location list!</h1>

    {{#if travels}}
        {{#each travels }}
            <div class="col-md-6">
                <p class="title">Travel Location:</p>
                <p>{{ title }}</p>
                <p class="description">Location description:</p>
                <p>{{ description }} <br><a href="/travel/{{id}}">read more...</a></p>
            </div>
        {{/each}}
    {{else}}
        <p>No locations to list!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}