{{#partial "content"}}

    {{#if editTravel}}
        <h1>Edit this Location!</h1>
        <form action="/travel/{{editTravel.id}}/update" method="post">
            <label for="title">Edit this post's title</label>
            <input id="title" name="title" type="text" value="{{editTravel.title}}">
            <label for="description">Edit this location description</label>
            <input id="description" name="description" type="text" value="{{editTravel.description}}">

    {{else}}
            <h1>Add a new Post!</h1>

        <form action="/travel/new" method="post">
            <label for="title">Travel Location</label>
            <input id="title" name="title" type="text">
            <label for="description">Location Description</label>
            <input id="description" name="description" type="text">

    {{/if}}
        <button type="submit" class="btn btn-success">Go!</button>
    </form>
{{/partial}}

{{> layout.hbs}}